html, body {
  background-color: #121212;
  color: #ffffff; 
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  color: white;
}


.home-button {
  background-color: #1d4ed8;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #1e40af;
}


.card {
  background-color: #1f2937; 
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  text-decoration: none;
  color: white;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  border-radius: 50%;
  margin-bottom: 1rem;
}

.card h2 {
  font-size: 1.25rem;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
  width: 100%;
  max-width: 1200px;
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(5, 1fr); 
  }
}


.navigation button {
  background-color: #1d4ed8;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  margin: 1rem;
}

.navigation button:hover {
  background-color: #1e40af;
}
